:root {
  --white: #ffffff;
  --off-white: rgb(248, 250, 252);
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-500: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --red-500: #f75a68;
}


.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  background-clip: padding-box;

}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 10px;
}

.navbar{
  height: 4rem;
  background-color: var(--off-white);
}

.info-banner h1 {
  color: var(--white);
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

.info-banner p {
  color: var(--white);
  font-size: 1rem;
  margin-bottom:2rem ;
}

.bottom-image{
  padding: .5rem;
  width: 100%;
  color: var(--white);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: scale(0);
  background: linear-gradient(0deg,rgba(0,0,0,.6) 0,transparent);
}

.div-pic:hover .bottom-image{
  transform: scale(1);
  transition: transform .3s ;
}

.red {
  color: var(--red-500);
}

.main-form {
  background-color: var(--white);
  width: 50rem;
  display: flex;
  border-radius: 22px;
  border: 2px solid var(--gray-100);
}

.form-control{
  height: 3.3rem;
  border: none;
  border-radius: 22px;
}

.form-control:focus{
 outline: none;
 border-color: none;
 box-shadow: none;
}

.filter {
 display: flex;
 align-items: center;
 margin-inline: 6px;
}
.filter:focus{
  box-shadow: none;
}

#dropdown-basic{
 border-radius: 17px;
 background-color: var(--gray-100);
 border: none;
 color: var(--gray-500);
}

#dropdown-basic:focus{
box-shadow: 0 0 0 0.2rem rgba(169, 172, 175, 0.5);;

}

.banner{
height: 35rem;
display:flex;
justify-content: center;
align-items: center;
}

.image-banner{
  width: 100%;
  height: 36rem;
  object-fit: cover;
  object-position: 0 -200px;
  position: absolute;
}

.form-div{
  position: relative;
}

.after-banner{
  height: rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-after{
font-size: 20px;
margin-inline: 2px;
color: var(--gray-700);
}
.cursor{
  cursor: pointer;
}

.search-form{
  background-color: var(--white);
  width: 30rem;
  display: flex;
  border-radius: 22px;
  border: 1px solid var(--gray-400);
}

.form-control-search{
  height: 2.5rem;
  border: none;
  border-radius: 22px;
}

.main-detail-div {
  display: flex;
  justify-content: space-between;
}

.image-detail {
  width: 50rem;
}

.image-detail-info{
color: var(--gray-700);
}


.buttons-div {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-page {
  margin-inline: 1rem;
  border: none;
  background-color: var(--gray-400);
  color: white;
  width: 8rem;
  height: 2rem;
  border-radius: 50px;
}

.logo{
 height: 2rem;
  
}

footer{
 display: flex;
 justify-content: space-between;
 background-color: var(--off-white);
}

.logo-footer{
  padding: 2rem;
  
}
.info-footer{
  padding: 2rem;
  display: flex;
}

.links-footer{
  margin: 1rem;
}

.icons-footer{
 margin-right: 1.5rem; 
}



.results{
position: relative;
}

.div-pic {
position: relative;
display: flex;
justify-content: center;
} 

.masonry{
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;

}

.masonry-image{
  max-height: 20rem;
  max-width: 22rem;
  margin:  0 1rem 1rem 0;
  flex: 1 0 auto;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.image-container{
  object-fit: fill;
  object-position: center;
}
.fav-heart-nav {
height: 2rem;
}
.fav-icon{
  position: relative;
  display: flex;
  justify-content: center;
  height: 30px;
  width: 30px;
  color: var(--gray-500);
}
.fav-number{
  height: 16px;
  width: 16px;
  background-color: var(--red-500);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  left: 20px;
  bottom: 17px;
}

