

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  background-clip: padding-box;

}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

img {
  width: 460px;
  padding: 1rem;

}

.div-pic {
position: relative;
display: flex;
justify-content: center;
}
.icon {
  position: absolute;
  top: 20px;
  left: 350px;
}

.main-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn.pixabay.com/photo/2021/01/31/07/28/twigs-5966086_960_720.jpg);
  height: 32rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-form {
  background-color: white;
  width: 50%;
  display: flex;
  border-radius: 22px;
}

.form-control{
  height: 3.3rem;
  border: none;
  border-radius: 22px;
}

.filter {
 display: flex;
 align-items: center;
 margin-inline: 6px;
}
#dropdown-basic{
 border-radius: 17px;
 background-color: rgb(224, 224, 224);
 border: none;
 color: #495057;
}